# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg

# Virtual environments
.venv/
venv/
ENV/

# SAM build artifacts
.aws-sam/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db

# Test / Coverage
.pytest_cache/
htmlcov/
.coverage
coverage.xml

# Environment variables
.env
*.env.local

# Deployment artifacts
samconfig.toml
packaged.yaml
architecture-diagram-export_ Lucidchart*
samconfig.toml
*.drawio
*.xml
